# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/
src/declarations/

# packages
node_modules/
dist/
.mops/

# env files
.env