@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: #0668b9;
}

/* app includes the header and the body */
#header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0px;
  padding-top: 10px;
}

.leftHeader {
  float: left;
  padding: 10px 10px 10px 20px;
}

.rightHeader {
  float: right;
  padding: 10px;
}

.rightHeader2 {
  float: right;
}

#body {
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0px auto;
  text-align: center;
}

/* used to center Wallet choices and game */
.centerMe {
  width: 1000px;
  padding: 10px;
  margin: 0px auto;
  position: relative;
  text-align: center;
}

.space50 {
  width: 100%;
  height: 50px;
}

/* container for nfts using grid display */
.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 17em;
  grid-gap: 4em;
  height: 100%;
  margin: 0px auto;
  text-align: center;
  padding-top: 30px;
}

.title {
  color: #ffffffee;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
  margin: 0 0 24px;
  text-align: center;
}

.whiteText {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
}

.buttonWood {
  height: 48px;
  width: 166px;
  align-items: center;
  appearance: none;
  color: white;
  font-size: 24;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 20px;
  justify-content: center;
  list-style: none;
  overflow: hidden;
  border: 0;
  display: inline-flex;
  line-height: 1;
  position: relative;
}

.buttonWood:focus {
  box-shadow: #301d27 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #301d27 0 -3px 0 inset;
}

.buttonWood:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #301d27 0 -3px 0 inset;
  transform: translateY(-2px);
}

.buttonWood:active {
  box-shadow: #301d27 0 3px 7px inset;
  transform: translateY(2px);
}

.buttonWoodGrid {
  height: 48px;
  width: 166px;
  align-items: center;
  appearance: none;
  color: white;
  font-size: 24;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  margin-top: 10px;
  padding-left: 6px;
  padding-right: 6px;
  justify-content: center;
  list-style: none;
  overflow: hidden;
  border: 0;
  display: inline-flex;
  line-height: 1;
  position: relative;
}

.buttonWoodGrid:focus {
  box-shadow: #301d27 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #301d27 0 -3px 0 inset;
}

.buttonWoodGrid:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #301d27 0 -3px 0 inset;
  transform: translateY(-2px);
}

.buttonWoodGrid:active {
  box-shadow: #301d27 0 3px 7px inset;
  transform: translateY(2px);
}

.buttonWoodGrid:disabled {
  opacity: 0.8;
}

.buttonWoodGrid:disabled:focus,
.buttonWoodGrid:disabled:hover,
.buttonWoodGrid:disabled:active {
  box-shadow: none;
  transform: none;
}

.buttonWoodGridXL {
  height: 48px;
  width: 225px;
  align-items: center;
  appearance: none;
  color: white;
  font-size: 24;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  padding-left: 6px;
  padding-right: 6px;
  justify-content: center;
  list-style: none;
  overflow: hidden;
  border: 0;
  display: inline-flex;
  line-height: 1;
  position: relative;
}

.buttonWoodGridXL:focus {
  box-shadow: #301d27 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #301d27 0 -3px 0 inset;
}

.buttonWoodGridXL:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #301d27 0 -3px 0 inset;
  transform: translateY(-2px);
}

.buttonWoodGridXL:active {
  box-shadow: #301d27 0 3px 7px inset;
  transform: translateY(2px);
}

button {
  /* needed this bad boy to get the right size text with wood button */
  font-size: 20px;
}

.unityContainer {
  position: absolute;
  /* The container determains the size. */
  width: 100%;
  height: 100%;
}

.unityContainer > .loading-overlay {
  /* We'll render the overlay on top of the Unity Application. */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #044275;
  color: #fff;
  /* We'll set the following Flex properties in order to center the text. */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The Unity Application matches it size to the container. */
.unityContainer > .unity {
  width: 100%;
  height: 100%;
}

.spinner {
  margin-left: 8px;
}
