name: "test"

on:
  push:
    branches:
      - master
  pull_request:

permissions: read-all

jobs:
  tests:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 18
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: npm clean-install
      - name: "check prettier"
        run: npm run prettier:check
      - name: "audit"
        run: npm audit
      - name: "install dfx"
        # download and setup local moc by starting dfx once
        run: |
          sh -ci "$(curl -fsSL https://internetcomputer.org/install.sh)"
          dfx start --background
          dfx stop
      - name: "install mops packages"
        run: npx mops install
      - name: "run tests"
        run: npm test
